.main-moving{
    margin:  auto;
    width: 85%;
    /* border: 5px solid red; */
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1em;
}

.main-moving::-webkit-scrollbar {
    display: none; 
}

.moving-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 15s linear infinite;
}

.moving {
    flex: 0 0 5em;
    /* height: 5rem; */
    padding: 1rem;
    /* background-color: cornflowerblue; */
    font-size: 3rem;
    border-radius: .2rem;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}